/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gray: #f2f1f6;
  --gray-hover: #d1d0d5;
  --primary-color: #017afe;
  --primary-hover: #017afecc;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.bg-white {
  background-color: white;
}

/* header */
header {
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

header > .material-symbols-outlined {
  color: var(--primary-color);
  cursor: pointer;
  font-variation-settings: "FILL" 1;
  font-size: 2rem;
}

header > .material-symbols-outlined:hover {
  color: var(--primary-hover);
}

/* contact add modal */
.start {
  color: red;
}

.contact-add-modal {
  position: relative;
  z-index: 1;
  height: 100vh;
  margin: 100px auto;
  background-color: white;
  display: none;
}
.contact-add-modal.open {
  display: block;
}
.contact-add-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray);
  border-radius: 10px;
  width: 80%;
  padding: 20px 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.form-header-container h2 {
  text-align: center;
}
.form-header-container span {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background-color: red;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.contact-add-form-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 10px auto;
  width: 80%;
}

.contact-add-form-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
}
.contact-add-form-col > input,
.contact-add-form-col > textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: var(--gray-hover);
}
.contact-add-form-col > textarea {
  padding-bottom: 100px;
}
.contact-add-form-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-add-form-btn-container > button {
  border: 1px solid;
  background-color: inherit;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}

.contact-add-form-btn-container > button:hover {
  color: var(--primary-hover);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
/* search */
main {
  padding: 0 10px;
  margin: 10px auto;
  max-width: 698px;
}
.search {
  padding: 7px 10px;
  border-radius: 10px;
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search div {
  width: 100%;
}
.search > div > span {
  position: absolute;
}
.search > div > input {
  width: 100%;
  padding-left: 25px;
  padding-right: 5px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1rem;
}

.search button {
  cursor: pointer;
  background-color: var(--gray-hover);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}
.search button:hover {
  color: var(--primary-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* contact list */
.home {
  display: block;
}
#search-form {
  display: block;
}
.home > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.contact-list-info {
  list-style: none;
  background-color: var(--gray);
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-list-info > span {
  width: 100%;
}
.contact-list-info:hover {
  background-color: var(--gray-hover);
}
.contact-list-info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact-edit-btn {
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.contact-edit-btn:hover {
  background-color: rgb(168, 109, 0);
}
.contact-delete-btn {
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.contact-delete-btn:hover {
  background-color: rgb(163, 2, 2);
}
.no-contact-msg {
  font-size: 2rem;
  text-align: center;
  color: var(--gray-hover);
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--gray);
  color: black;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
  margin: 20px auto;
  transform: translateX(-120vw);
}
.home-btn:hover {
  background-color: var(--gray-hover);
}
#form-update-btn {
  display: none;
}

/* contact info */
.contact-info {
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: var(--gray);
  padding: 20px 0;
  position: relative;
  height: 100vh;
}

.img-letter {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#user-name {
  text-align: center;
  font-size: 2rem;
}
.profile-icons {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 8px !important;
}
.profile-icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 3px;
  margin: 0 5px;
  color: var(--primary-color);
}
.profile-icon-container:hover {
  background-color: var(--gray-hover);
  color: var(--primary-hover);
}
.email-container,
.address {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
}
.user-info-title {
  font-size: 0.8rem;
}
.facetime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 10px;
}
.facetime-icons span {
  padding: 5px;
  color: var(--primary-color);
  background-color: var(--gray);
  border-radius: 50%;
}
.user-info-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-info-back-btn,
.contact-info-edit-btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 7px;
  color: var(--primary-color);
}
.contact-info-back-btn:hover,
.contact-info-edit-btn:hover {
  background-color: var(--gray-hover);
  color: var(--primary-hover);
}

.form-msg {
  display: block;
  color: red;
  font-size: 1rem;
  text-align: center;
}
